:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}


/* Start Global Item */

.page {
    min-height: 100vh;
    background: #F1F5F9;
}

.main-title {
    text-transform: capitalize;
    margin: 20px 20px 40px;
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;
}

.main-title::before {
    width: 120px;
    background: white;
}

.main-title::after {
    width: 40px;
    background: black;
}


/* End Global Item */

/* Start Side Bar */

.sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
}

.sidebar>h3 {
    margin-bottom: 50px;
}

.sidebar>h3::before,
.sidebar>h3::after {
    content: "";
    position: absolute;
    background: black;
    transform: translateX(-50%);
    left: 50%;
}

.sidebar>h3::before {
    width: 80px;
    height: 2px;
    bottom: -20px;
}

.sidebar>h3::after {

    width: 12px;
    height: 12px;
    border: 4px solid white;
    border-radius: 50%;
    bottom: -29px;
}

.sidebar ul li a {
    transition: 0.3s;
    margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 58px;
        padding: 10px
    }

    .sidebar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .sidebar>h3::before,
    .sidebar>h3::after {
        display: none;
    }

    .sidebar ul li a span {
        display: none;
    }
}

/* End Side Bar */

/* Start Content */
.content {
    overflow: hidden;
}

.head .search::before {
    content: "\f002";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 160px;
    transition: width 0.3s;
}

.head .search input:focus {
    outline-color: #ddd !important;
    width: 200px;
}

.head .search input::placeholder {
    color: var(--grey-color);
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icons .notification {
    margin-right: 15px;
    font-size: 18px;
}

.head .icons .notification::before {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: var(--red-color);
    top: -5px;
    left: 14px;
    border-radius: 50%;
}

.head .icons img {
    max-width: 35px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(300px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

/* End Content */

/* Start Welcome */
.welcome {
    overflow: hidden;
}

.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}

.welcome .avatar {
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
}

.welcome .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: all 0.3s;
}

.welcome .visit:hover {
    cursor: pointer;
    background: var(--blue-alt-color);
}

@media (max-width:676px) {
    .welcome .intro {
        padding-bottom: 30px;
        justify-content: center;
    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }
}

/* End Welcome */

/* Start quick draft */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}

.quick-draft .save {
    margin-left: auto;
    transition: all 0.3s;
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

/* End quick draft */

/* Start Yearly Targets */
.yearly-targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.yearly-targets .target-row .details {
    flex: 1;
}

.yearly-targets .details .progress {
    height: 4px;
}

.yearly-targets .details .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.yearly-targets .details .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    padding: 2px 5px;
    color: white;
    border-radius: 6px;
    font-size: 12px;
}

.yearly-targets .details .progress>span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    border-top-color: var(--blue-color);
    left: 50%;
    transform: translateX(-50%);
}

.yearly-targets .details .progress>.bg-orange span::after {
    border-top-color: var(--orange-color);
}

.yearly-targets .details .progress>.bg-green span::after {
    border-top-color: var(--green-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%)
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

/* End Yearly Targets */


/* Start Tickets Statistics */

.ticketes-statistics div .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width:767px) {
    .ticketes-statistics div .box {
        width: 100%
    }
}

/* End Tickets Statistics */

/* Start Latest News */

.news .news-row:not(:last-of-type) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}

.news .news-row .details {
    flex: 1;
}

.news .news-row .details h3 {
    margin: 0 0 6px;
    font-size: 16px;
}

@media (max-width:767px) {
    .news .news-row {
        display: block;
    }

    .news .news-row .label {
        display: block;
        margin: 10px auto;
        width: fit-content;
    }
}

/* End Latest News */

/* Start Latest Tasks */
.tasks .tasks-row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.tasks .tasks-row.done {
    opacity: 0.3;
}

.tasks .tasks-row.done .info {
    text-decoration: line-through;
}

/* End Latest Tasks */

/* Start Latest Uploads */
.uploads .uploads-row:not(:last-of-type) {
    border-bottom: 1px solid #ddd;
}

.uploads .uploads-row img {
    width: 40px;
    margin-right: 10px;
}

.uploads .uploads-row .info {
    flex-grow: 1;
}

/* Etart Latest Uploads */

/* Start Last Project Progress */
.last-project ul::before {
    content: "";
    width: 2px;
    height: calc(100% - 10px);
    position: absolute;
    left: 10px;
    background: var(--blue-color);
}

.last-project ul li::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    outline: 2px solid var(--blue-color);
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 25px;
    z-index: 1;
}

.last-project ul li.done::before {
    background: var(--blue-color);
}

.last-project ul li.in-progress::before {
    animation: progressing 0.8s infinite alternate;
}

.last-project img {
    position: absolute;
    width: 150px;
    height: 150px;
    opacity: 0.1;
    bottom: 0;
    right: 0;
}

/* End Last Project Progress */

/* Start Remainders */

.reminders ul li {
    border-left: 2px solid;
}

.reminders ul li.blue {
    border-color: var(--blue-color);
}

.reminders ul li.green {
    border-color: var(--green-color);
}

.reminders ul li.orange {
    border-color: var(--orange-color);
}

.reminders ul li.red {
    border-color: var(--red-color);
}

.reminders ul li:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);

}

.reminders ul li.blue:before {
    background: var(--blue-color);
}

.reminders ul li.green:before {
    background: var(--green-color);
}

.reminders ul li.orange:before {
    background: var(--orange-color);
}

.reminders ul li.red:before {
    background: var(--red-color);
}

/* End Remainders */

/* Start Latest Post */

.latest-post .post .head {
    border-bottom: 1px solid #ddd;
}

.latest-post .post .head img {
    width: 50px;
    margin-right: 15px;
}

.latest-post .post .head .info {
    flex-grow: 1;
}

.latest-post .post .body {
    border-bottom: 1px solid #ddd;
}

/* End Latest Post */

/* Start Social Media */

.social-media .box {
    padding-left: 70px;
}

.social-media .box svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
    transition: 0.3s;
}

.social-media .box svg:hover {
    transform: rotate(5deg);
}

.social-media .twitter {
    background: rgb(29 161 242 / 20%);
    color: #1da1f2;
}

.social-media .twitter svg,
.social-media .twitter a {
    background: #1da1f2;
}

.social-media .facebook {
    background: rgb(24 119 242 / 20%);
    color: #1877f2;
}

.social-media .facebook svg,
.social-media .facebook a {
    background: #1877f2;
}

.social-media .youtube {
    background: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social-media .youtube svg,
.social-media .youtube a {
    background: #ff0000;
}

.social-media .linkedin {
    background: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social-media .linkedin svg,
.social-media .linkedin a {
    background: #0077b5
}

/* End Social Media */

/* Start Project */

.projects table,
.projects table tr td {
    border: 1px solid #eee;
    border-collapse: collapse;
}

.projects table tbody img {
    width: 35px;
    border: 2px solid white;
    border-radius: 50%;
}

.projects table tbody img:not(:first-child) {
    margin-left: -17px;
}

/* End Project */

/* Start Settings Control */

.site-control textarea {
    height: 150px;
    resize: none;
    border-color: #ccc;
    border-radius: 6px;
}

/* End Settings Control */

/* Start General Info */

.general-info form input {
    border: 1px solid #ccc;
    border-radius: 6px;
}

.general-info form input:disabled {
    background-color: #F0F4F8;
    width: 80%;
}

.general-info form input:disabled::placeholder {
    color: #ccc;
}

.general-info form button {
    cursor: pointer;
    transition: 0.3s;
}

.general-info form button:hover {
    background: var(--blue-color);
    color: white;
}

/* End General Info */

/* Start Security Info */
.security-info .box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

/* End Security Info */

/* Start Social Media */
.Social-info div {
    border: 1px solid #ccc;
    background: #F6F6F6;
    overflow: hidden;
    padding-left: 50px;
}

.Social-info div svg {
    position: absolute;
    border-right: 1px solid #ccc;
    width: 20px;
    padding: 10px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

/* End Social Media */

/* Start Widgets Control */
.widgets-control .form-control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}

.widgets-control .form-control label {
    padding-left: 30px;
    position: relative;
}

.widgets-control .form-control label::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--grey-color);
    border-radius: 3px;
}

.widgets-control .form-control label:hover:before {
    border-color: var(--blue-color);
}

.widgets-control .form-control label::after {
    content: "\f00c";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 18px;
    background: var(--blue-color);
    color: white;
    font-size: 10px;
    border-radius: 3px;
    transform: translateY(-50%) scale(0) rotate(360deg);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.widgets-control .form-control input[type="checkbox"]:checked+label::after {
    transform: translateY(-50%) scale(1);

}

/* End Widgets Control */

/* Start Backup Manager  */

.backup-manager input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}

.backup-manager .form-control label {
    padding-left: 30px;
    position: relative;
    cursor: pointer;
}

.backup-manager .form-control label::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s;
}

.backup-manager .form-control label:hover::before {
    border-color: var(--blue-color);
}

.backup-manager .form-control label::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    left: 3px;
    top: 50%;
    background: var(--blue-color);
    border-radius: 50%;
    transform: translateY(-50%) scale(0);
    transition: 0.3s;
}

.backup-manager .form-control input[type="radio"]:checked+label::before {
    border-color: var(--blue-color);
}

.backup-manager .form-control input[type="radio"]:checked+label::after {
    transform: translateY(-50%) scale(1);
}

.backup-manager .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

@media (max-width:767px) {
    .backup-manager .servers {
        flex-wrap: wrap;
    }
}

.backup-manager .servers .server {
    border: 2px solid #eee;
    transition: 0.3s;
}

.backup-manager .servers .server label {
    cursor: pointer;
}

.backup-manager .servers .server label svg {
    margin: 0 auto 10px;
}

.backup-manager input[type="radio"]:checked+.server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}


/* End Backup Manager  */

/* Start Profile */

@media (max-width:767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}

.profile-page .avatar-box {
    width: 300px;
}

@media (min-width:768px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}

.profile-page .avatar-box>img {
    width: 120px;
}

.profile-page .avatar-box .progress {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
}

.profile-page .avatar-box .progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--blue-color);
    border-radius: 6px;
}

.profile-page .info-box .box {
    flex-wrap: wrap;
    transition: 0.3s;
}

.profile-page .info-box .box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}

.profile-page .info-box .box h4 {
    font-weight: normal;
}

.profile-page .info-box .box>div {
    min-width: 250px;
    padding: 10px 0 0;
}

.profile-page .info-box .box>div .toggle-switch {
    width: 80px;
    height: 22px;
}

.profile-page .info-box .box>div .toggle-switch::before {
    width: 16px;
    height: 16px;
    top: 3px;
}

.profile-page .info-box .box>div input:checked+.toggle-switch::before {
    left: 60px;
}

.profile-page .info-box .box>div input {
    display: none;
}


.profile-page .details {
    flex-wrap: wrap;
}


/* Start My Skills */

.my-skills {
    width: 550px;
}

@media (max-width: 1260px) {
    .my-skills {
        flex-grow: 1;
    }
}

.my-skills ul:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.my-skills ul ul li:not(:last-of-type) {
    border-bottom: 1px solid rgb(204 204 204 / 20%)
}

.latest-activities {
    flex-grow: 1;
}

.latest-activities .activity-row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.latest-activities .activity-row img {
    width: 60px;
    margin-right: 10px;
}

/* End My Skills */

/* End Profile */


/* Start Project Page */

.project-card .header .images img {
    width: 35px;
    border-radius: 50%;
    border: 2px solid white;
}

.project-card .header .images img:not(:first-of-type) {
    margin-left: -15px;
}

.project-card .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

@media (max-width:767px) {
    .project-card .body {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.project-card .footer .progress {
    position: relative;
    width: 50%;
    height: 6px;
    border-radius: 6px;
}

.project-card .footer .progress span {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 6px;
}

.project-card .data {
    position: absolute;
    top: 10px;
    right: 10px;
}


/* End Project Page */

/* Start Courses Page */

.wrapper-two {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

@media (max-width:767px) {
    .wrapper-two {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.wrapper-two .course-card {
    overflow: hidden;
}

.wrapper-two .course-card .cover {
    max-width: 100%;
    width: 100%;
}

.wrapper-two .course-card .instructor {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    border: 2px solid white;
}

.wrapper-two .course-card .footer {
    border-top: 1px solid #eee;
}

.wrapper-two .footer .course-info {
    position: absolute;
    top: -13.5px;
    left: 50%;
    transform: translateX(-50%);
}

/* End Courses Page */

/* Start Friends Page */

.friend .header img {
    width: 100px;
}

.friend .body {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.friend .body ul li:nth-of-type(even) {
    margin: 10px 0;
}

.friend .body .vip {
    color: rgb(245 158 11 / 30%);
    font-size: 40px;
    font-weight: bold;
}

.friend .contact {
    position: absolute;
    top: 10px;
    left: 10px;
}

.friend .contact span {
    width: 30px;
    height: 30px;
}


/* End Friends Page */

/* Start Files Page */

.files {
    flex-wrap: wrap;
}

@media (max-width:767px) {
    .files {
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .files .file-wrapper {
        gap: 10px;
    }
}

.files .file-wrapper {
    flex-grow: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width:1150px) {

    .files {
        flex-direction: column-reverse;
    }

    .files .file-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .files .file-wrapper .file {
        flex-grow: 1;
    }
}

.file-wrapper .file .header img {
    width: 60px;
}

.file-wrapper .file .footer {
    border-top: 1px solid #eee;
}

.file-wrapper .file svg {
    position: absolute;
    top: 15px;
    left: 15px;
}

.files .file-stat {
    min-width: 250px;
    max-height: 450px;
}

.file-stat ul li {
    border: 1px solid #eee;
}

.file-stat ul li .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.file-stat ul li .icon.blue {
    background: rgb(0 117 255 / 20%);
}

.file-stat ul li .icon.green {
    background: rgb(34 197 94 / 20%);
}

.file-stat ul li .icon.red {
    background: rgb(244 67 54 / 20%);
}

.file-stat ul li .icon.orange {
    background: rgb(245 158 11 / 20%);
}

.file-stat ul li .info {
    flex-grow: 1;
}

.file-stat button {
    width: 90px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}



/* End Files Page */

/* Start Switch Toggle*/

.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
}

.toggle-switch {
    width: 78px;
    height: 32px;
    position: relative;
    background: #ccc;
    border-radius: 16px;
    transition: 0.3s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "\f00d";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    width: 24px;
    height: 24px;
    background: white;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    color: #aaa;
}

.toggle-checkbox:checked+.toggle-switch {
    background: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "\f00c";
    color: var(--blue-color);
    left: 50px;
}

/* End  Switch Toggle*/

/* Start Animation  */
@keyframes progressing {
    from {
        background: var(--blue-color);
    }

    100% {
        background: white
    }
}

/* End Animation  */